// Copyright 2026- The sacloud/sacloud-sdk-go authors
// SPDX-License-Identifier: Apache-2.0

go 1.25.8

use (
	.
	./api/addon
	./api/apigw
	./api/cloudhsm
	./api/eventbus
	./api/iaas/trace/otel
	./api/kms
	./api/nosql
	./api/webaccel
	./service/iaas
	./service/webaccel
)
