// Copyright 2026- The sacloud/sacloud-sdk-go authors
// SPDX-License-Identifier: Apache-2.0

go 1.25.0

toolchain go1.26.3

use (
	.
	./api/iaas/trace/otel
)

replace github.com/sacloud/sacloud-sdk-go v0.0.0 => .
